<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Data Table</title>
    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script>
      $(document).ready(function () {
        $("#myTable").DataTable({
          lengthMenu: [
            [
              5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85,
              90, 95, 100,
            ],
            [
              5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85,
              90, 95, 100,
            ],
          ],
          processing: true,
          serverSide: true,
          serverMethod: "get",
          ajax: {
            url: "/getData",
          },

          columns: [
            { data: "id" },
            { data: "firstName" },
            { data: "age" },
            { data: "contactNumber" },
            { data: "Tasks[].title" },
          ],
        });
      });
    </script>
  </head>
  <body>
    <div>
      <table id="myTable" class="hover stripe row-borders order-column">
        <thead>
          <th>Id</th>
          <th>First Name</th>
          <th>Age</th>
          <th>Contact Number</th>
          <th>Tasks Description</th>
        </thead>
      </table>
    </div>

    <script></script>
  </body>
</html>
