<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Data Table</title>

    <!-- dataTable Css Link -->
    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css"
    />

    <!-- JQuery CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

    <!-- jQuery library -->
    

    <!-- JQuery Datatable Link -->
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>

    <!-- Script for datatable function -->
    <script>
      $(document).ready(function () {
        let table = $("#myTable").DataTable({
          lengthMenu: [
            [
              5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85,
              90, 95, 100,
            ],
            [
              5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85,
              90, 95, 100,
            ],
          ],
          processing: true,
          serverSide: true,
          serverMethod: "get",
          ajax: {
            url: "/getData",
          },
          stateSave: true, //it will keep our webpage as it is even after refreshing the webpage

          // Adds the data in the table
          columns: [
            { data: "Student.firstName" },
            { data: "Student.age" },
            { data: "Student.contactNumber" },
            { data: "Student.id" },
            { data: "title" },
          ],
        });

        $("#myTable tbody").on("click", "tr", function () {
          if ($(this).hasClass("selected")) {
            $(this).removeClass("selected");
          } else {
            table.$("tr.selected").removeClass("selected");
            $(this).addClass("selected");
          }
        });

        // let t = $('#myTable').DataTable();

        $("#button").click(function() {
       console.log(table.row($(this).parents('tr')));
         table
        .row( $(this).parents('tr') )
        .remove()
        .draw();
        });

        // To hide/show a particular column
        table.column(0).visible(true);
      });
    </script>
  </head>
  <body>
    <div>
      <span style="border: 1px solid black" id="button">Delete selected row</span>
      <table id="myTable" class="hover stripe row-borders order-column display">
        <thead>
          <th>First Name</th>
          <th>Age</th>
          <th>Contact Number</th>
          <th>Student Id</th>
          <th>Tasks Description</th>
        </thead>
      </table>
    </div>
  </body>
</html>
