<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generate Combo</title>
   
</head>
<body>
    <h1>Create Form</h1>
    <form action="/insertMultipleData" method="post" >
        <table>
            <tr>
                <td ><label for="cname">Combo Name:</label>
                <input type="text" id="cname" name="name">
                </td>
           
                <td  id="align"><label for="selection">Select Type</label>
                    <select name="controllerType" id="type_menu">
                       
                        <option value="dropdown">Dropdown</option>
                        <option value="checkbox">Check-box</option>
                        <option value="radiobutton">Radio-button</option>
                       
                    </select>
                </td>
                <td ><input class="btn-style" type="button" value="Add Option" onclick="addOption()"></input></td>

                <td >
                    <input type="button" class="btn-style" value="Add Combo" onclick="addCombo()"></input>
                </td>
            </tr>
           
            <tr>
                <td>
                <div id="add_option"></div>
                </td>
            </tr>
            <tr>
                <td>
                <div id="add_combo"></div>
                </td>
            </tr>
            <tr>
                <td>
                    <input class="btn-style" type="submit" value="Submit it" />
                </td>
            </tr>
        </table>
    </form>
</body>
</html>

<script>

let count = 1;
function addCombo() {
        let data = "";
        
        data +=`<tr>
                <td><label for="cname">Combo Name:</label>
                <input type="text" id="cname" name="name">
                </td>        

                <td id="align"><label for="selection">Select Type</label>
                    <select name="controllerType" id="type_menu">
                      
                        <option value="dropdown">Dropdown</option>
                        <option value="checkbox">Check-box</option>
                        <option value="radiobutton">Radio-button</option>
                       
                    </select>
                </td>
                <td><input type="button" class="btn-style" id="combo_${count}" value="Add Option" onclick="addmoreOption('option_${count}')"></input></td>
                </tr>
                <tr>
                    <td>
                        <div id="option_${count}"></div>
                    </td>
                </tr>`
        let options = document.createElement("div");
        options.className = "custom"
        options.innerHTML = data;
        document.getElementById("add_combo").appendChild(options);
        count++;   

}

function addmoreOption(id) {
    let info = "";
    info +=` 
    <tr>
      <td><label for="optname">Option Name: </label></td>
      <td><input type="text" id="optname" name="optname_${count}" /></td>
    </tr>`
    let options = document.createElement("div");
    options.className = "custom"
    options.innerHTML = info;
    document.getElementById(id).appendChild(options);   
}


function addOption() {
    let info = "";
    info +=` 
    <tr>
      <td><label for="optname">Option Name: </label></td>
      <td><input type="text" id="optname_1" name="optname_1" /></td>
    </tr>`
    let options = document.createElement("div");
    options.className = "custom"
    options.innerHTML = info;
    document.getElementById("add_option").appendChild(options);
}

</script>
